/*Estilos para HTML*/

body {
  margin: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(0, 0%, 4%);
  color: hsl(210, 12%, 97%);
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

form {
  margin: 50px;
}

#Black {
  margin: 30px;
}

#imageForm {
  margin: 70px;
}
